.navbar{
	background-color: #0C1737;
	
}
.nav-link{
	color: #FAFDF7;
	font-weight: bold;
	font-size: 100%;
}
.header_name{
	text-align: center;
}
header{
	background-color: #008000;
	color: #E8F3E8;
}

.col-side{
	background-color: #549D53;
}
.col-8{
	background-color: #E8F3E8;
	align-self: center;
	padding-bottom: 1%;
}
.img-profile{
	float: left;
	padding-top: 1%;
	height: 100%;
	width: 25%;
}
.div-header{
	height: 17%;
	
}
.header-content{
	text-align: left;
	padding-top: 10%;
	padding-left: 50%;
}
.col-side-title{
	text-align: center;
}

body{
	background-color: #E8F3E8;
	color: #0C1737;
}

footer{
	background-color: #0C1737;
	color: #FAFDF7;
	font-weight: bold;
	font-size: 100%;
	text-align: center;
	padding-bottom: 1%;
	padding-top: 1%;

}
.icon-link{
	display: block;
    margin-left: auto;
    margin-right: auto;
    height: 64px;
    width: 64px;
}

